<div id="<%= dom_id match %>">
  <p>
    <strong>Player one:</strong>
    <%= match.player_one_id %>
  </p>

  <p>
    <strong>Player two:</strong>
    <%= match.player_two_id %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= match.winner_id %>
  </p>

</div>
