<div class="flex flex-col lg:w-1/2 md:w-full m-auto">
 <div class="flex flex-row justify-between items-center my-2">
    <h1 class="text-3xl font-bold ">New member</h1>
    <div>
      <%= link_to "Back to members", members_path, class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg shadow" %>
    </div>
  </div>
  <%= render "form", member: @member %>
</div>

